@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-manrope: "Manrope", sans-serif;
}

@layer base {
  html {
    font-family: "Manrope", sans-serif;
  }
}
