services:
  go-backend:
    image: index.docker.io/napodep/rslbot-backend:latest
    restart: always
    environment:
      # specific to prod
      - VIRTUAL_HOST=api.rslbot.com
      - VIRTUAL_PORT=8000
      - LETSENCRYPT_HOST=api.rslbot.com
      # loaded from .env
      - URN
      # TODO: uncomment when ready
      #- STRIPE_API_KEY
      #- STRIPE_WEBHOOK_SECRET
      #- PAYPAL_CLIENT_ID
      #- PAYPAL_CLIENT_SECRET
      #- PAYPAL_WEBHOOK_ID
      #- DISCORD_BOT_TOKEN
    command:
      - api
      - --db-urn=$URN
      - --redis-url=redis:6379
      - --bind=0.0.0.0:8000
      # TODO: uncomment when ready
      #- --stripe-api-key=$STRIPE_API_KEY
      #- --stripe-webhook-secret=$STRIPE_WEBHOOK_SECRET
      #- --paypal-client-id=$PAYPAL_CLIENT_ID
      #- --paypal-client-secret=$PAYPAL_CLIENT_SECRET
      #- --paypal-webhook-id=$PAYPAL_WEBHOOK_ID
      #- --discord-bot-token=$DISCORD_BOT_TOKEN
      #- --cors-allowed-origins=rslbot.com,*.rslbot.com
    labels:
      com.centurylinklabs.watchtower.enable: "true"
    networks:
      - internal
      - service-proxy

  mysql:
    image: mariadb:10
    restart: always
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=rslbot
      - MYSQL_USER=rslbot
      - MYSQL_RANDOM_ROOT_PASSWORD=true
      # from .env
      - MYSQL_PASSWORD
    networks:
      - internal
    command:
      - mysqld
      - --character-set-server=utf8
      - --collation-server=utf8_unicode_ci

  redis:
    image: redis:7
    restart: unless-stopped
    volumes:
      - redis_data:/data
    networks:
      - internal
    command: redis-server --appendonly yes

  watchtower:
    image: containrrr/watchtower:latest
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_LABEL_ENABLE=true
      - DOCKER_API_VERSION=1.45
    command: --interval 60

networks:
  service-proxy:
    external: true
  internal:


volumes:
  mysql_data:
    driver: local
  redis_data:
    driver: local
